.filtros{
    display: grid;
    height: 650px;
    grid-template-columns: auto;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Consultas{
    width: 1200px;
    border: solid 2px grey;
    border-radius: 10px;
    padding: 20px;

    box-shadow: -5px 10px 10px 0 lightgray;
}

.container-consulta{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
    column-gap: 20px;
    text-align: start;
}

.img-container{
    display:flex;
    height: 200px;
    width: 300px;
    grid-row: 1 / span 3;
    justify-content: center;

    overflow: hidden; /*Se cortan las fotos si son muy anchas*/
}

.filtro select{
    padding: 15px;
    font-family: 'Morrison', sans-serif;
    font-size: 16px;
}

.Salida {
    display: flex;
    gap: 10px;
    box-shadow: -5px 10px 10px 0 lightgray;
    border: solid 2px grey;
    border-radius: 10px;

    margin-bottom: 20px;
}

.imagenSalida{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 150px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
}

.imagenSalida img{
    height: 100px;
}
.Actividad {
    display: flex;
    gap: 10px;
    box-shadow: -5px 10px 10px 0 lightgray;
    border: solid 2px grey;
    border-radius: 10px;

    margin-bottom: 20px;
}

.imagenActividad{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 150px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
}

.imagenActividad img{
    height: 100px;
}

.Paquete {
    display: flex;
    gap: 10px;
    box-shadow: -5px 10px 10px 0 lightgray;
    border: solid 2px grey;
    border-radius: 10px;

    margin-bottom: 20px;
}

.imagenPaquete{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 150px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
}

.imagenPaquete img{
    height: 100px;
}

.imagenSalidaDegusta{
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 20px;
}

button:hover{
    cursor:pointer;
    background: #5046c0;
}


  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    transition: display fadeEffect;
}

.tab{
    padding-top: 10px;
    padding-bottom: 6px;
}

.selected{
    font-weight: bold;
    color: #6558F5;
    border-bottom: solid 4px #6558F5;
    padding-top: 10px;
    padding-bottom: 6px;

    transition: color 0.1s;
}

.tab:hover{
    font-weight: bold;
    transition: font-weight 0.2s;
    cursor:pointer;
}

#botonComprarPaquete{
    width: 20%;
    background: #6558F5;
    border: none;
    padding: 10px;
    color: white;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'Morrison', sans-serif;

    text-align: center ;
    border-radius: 4px;
}

#botonInscripcionSalida{
    width: 20%;
    background: #6558F5;
    border: none;
    padding: 10px;
    color: white;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'Morrison', sans-serif;
    
    text-align: center ;
    border-radius: 4px;
}