.altaUsuario{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-altaUsuario{
    height: 200px;
}

.form-register{
    width: 400px;
    background: rgb(178, 172, 250);
    border: solid 2px;
    border-color: #6558F5;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'Morrison', sans-serif;
    text-align: center;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 0;
}

.form-register h5{
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 4px;
}

.controls{
    width: 378px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: solid 1px #6558F5;
    font-family: 'Morrison', sans-serif;
    font-size: 16px;
}

button{
    width: 45%;
    background: #6558F5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;

}

.input-outer{
    display:flex;
    align-items: center;
    border: solid 1px #82888e;
    border-radius: 5px;

    background-color: white;
    margin-bottom: 12px;
}

.input-outer > .icon{
    filter: invert(54%) sepia(27%) saturate(224%) hue-rotate(166deg) brightness(91%) contrast(90%);
    width: 35px;
    height: 35px;
    margin: 5px;
}

.input-style{
    height: 18pt;
    padding: 5px;
    border: none;

    font-size: 16px;
}

input:focus{
    outline: none;
}