.altaSalidaTuristica{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-altaSalidaTuristica{
    height: 200px;
}

.form-titulo-salida{
    width: 92%;
    background: rgb(119, 175, 153);
    border: solid 2px;
    border-color: #62d1a6;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'Morrison', sans-serif;
    text-align: left;
}


.form-salida{
    width: 400px;
    background: rgb(255, 255, 255);
    border: solid 2px;
    border-color: #f0f0f0;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'Morrison', sans-serif;
    text-align: center;
}

h2 {
    color: rgb(255, 255, 255);
  }

.form-salida h2{
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 0;
}

.form-salida h5{
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 4px;
}

.controls{
    width: 378px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
    border: solid 1px #38a05b;
    font-family: 'Morrison', sans-serif;
    font-size: 16px;
}

.form-register .boton{
    width: 45%;
    background: #38a05b;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}