

.container {  
    margin-top: 10px;
    display: grid;
    grid-template-columns: 0.1fr 2.7fr;
    grid-template-rows: 0.4fr 2.2fr 0.4fr;
    gap: 2px 0px;
    grid-auto-flow: row;
    min-width: 1000px;
    grid-template-areas:
      "imagen texto"
      "formulario formulario"
      ". .";
  }
  
  .imagen { grid-area: imagen;
    background-color: rgb(144, 188, 179);
    padding: 10px;
    border-top: 1px solid rgb(32, 120, 104);
    border-bottom: 1px solid rgb(32, 120, 104);
    border-left:  1px solid rgb(32, 120, 104) ;
     }
  
  .texto { grid-area: texto;
          background-color: rgb(144, 188, 179);
          color: whitesmoke;
          border-top: 1px solid rgb(32, 120, 104);
          border-bottom: 1px solid rgb(32, 120, 104);
          border-right:  1px solid rgb(32, 120, 104);  
        }
  
  .formulario { grid-area:  formulario; 
  }
  


.boton{
  
  border: none;
  padding: 15px 55px;
  margin: 16px 0;
  font-size: 1em;
  margin: auto;
  text-align: center ;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color:rgb(32, 120, 104)

}

.boton2{
  border: none;
  padding: 15px 55px;
  margin: 16px 0;
  font-size: 1em;
  margin: auto;
  text-align: center ;
  border-radius: 4px;
  color: rgb(97, 111, 123);
  background-color:rgb(195, 207, 217)
}

.controls{
  width: 378px;
  padding: 10px;
  border-radius: 4px;
  margin: 12.5px;
  border: solid 1px rgba(46, 161, 140, 0.5);
  font-family: 'Morrison', sans-serif;
  font-size: 16px;
}
  
img{
  height: 90px;
  position:relative;
  margin-top: 10px;
}

/* iconos */
  
.iconop{
    height: 70px ;
    float:left;
    margin-right: 9px;
    z-index: 5;
}

.container2 {  display: grid;
    grid-template-columns: 0.01fr 1.8fr;
    grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.4fr;
    gap: 2px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". departamentoycategorias"
      ". c2"
      ". c3"
      ". c4"
      ". c5"
      ". c6"
      ". c7"
      ". c8"
      ". .";
    
  }
  
  .departamentoycategorias{ grid-area: departamentoycategorias;
    display: grid; 
    grid-template-columns: 0.5fr 1.2fr 0.5fr 1.2fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    place-self: center;
    grid-template-areas: 
      "img1 s1 img2 s2"
       }

  .img1 { grid-area: img1;  
      place-self: center end;}
  .s1 { grid-area: s1;  
     place-self: center; }


  .img2 { grid-area: img2; 
    place-self: center end;}
  .s2 { grid-area: s2;
    place-self: center; }

  
  .c2 { grid-area: c2;
    place-self: center; }
  
  .c3 { grid-area: c3; 
    place-self: center;}
  
  .c4 { grid-area: c4;
    place-self: center; }
  
  .c5 { grid-area: c5; 
    place-self: center;}
  
  .c6 { grid-area: c6;
    place-self: center; }
  
  .c7 { grid-area: c7; 
    place-self: center;}

  .boton:hover{
    background-color: rgb(20, 75, 65);
    cursor:pointer;
  }
  .boton2:hover{
    background-color:rgb(161, 172, 180);
    cursor:pointer;
  }

  .iconop{
    filter: invert(54%) sepia(27%) saturate(224%) hue-rotate(166deg) brightness(91%) contrast(90%);
    width: 55px;
    height: 55px;
    margin: 5px;
  }

