.container2{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: -10px;
}

.container h2 {
    text-align: center;
    display: flex;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 0;
    justify-content: center;
    width: 100%;
}

.paquetes{
    text-align: center;
    padding: 50px;
}

select {
    width: 140px;
    height:30px;
   
}

button{
    width: 48%;
    background: #6558F5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;

}

button:hover{
  background: #5046c0;
  
  cursor:pointer;
}


/*.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.3fr 2.5fr 0.6fr 1.1fr;
    gap: 5px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "h1"
      "paquetes"
      "info"
      "botones"
      ".";
  }
  
  .h1 { grid-area: h1; }
  
  .paquetes { grid-area: paquetes;
 }
  
  .botones { grid-area: botones;
    text-align: center;
  
}
  
  .info { grid-area: info; 
 }


.botones button:hover{
  background: #5046c0;
  
  cursor:pointer;
}

button{
    
    width: 15%;
    background: #6558F5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    text-align: center

}

.container2 {  display: grid;
    grid-template-columns: 0.01fr 1.8fr;
    grid-template-rows: 0.6fr 1fr 1fr 1.4fr;
    gap: 2px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". paquetes"
      ". info"
      ". .";
    
  }
  
  .paquetes{ grid-area: paquetes;
    display: grid; 
    grid-template-columns: 1.2fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    place-self: center;
    grid-template-areas: 
      "s2"
       }


  .s2 { grid-area: s2;
    place-self: center; }*/