
  /* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    transition: display fadeEffect;

    border: 2px solid gray;
    border-radius: 3px;
}

.tab{
    padding-top: 10px;
    padding-bottom: 6px;
}

.selected{
    font-weight: bold;
    color: #6558F5;
    border-bottom: solid 4px #6558F5;
    padding-top: 10px;
    padding-bottom: 6px;

    transition: color 0.1s;
}

.tab:hover{
    font-weight: bold;
    transition: font-weight 0.2s;
    cursor:pointer;
   
        
    
}