.filtros{
    display: grid;
    height: 650px;
    grid-template-columns: auto;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Consultas{
    width: 1200px;
    border: solid 2px grey;
    border-radius: 10px;
    padding: 20px;

    box-shadow: -5px 10px 10px 0 lightgray;
}

.container-consulta{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(3, auto);
    column-gap: 20px;
    text-align: start;
}

.img-container{
    display:flex;
    height: 200px;
    width: 300px;
    grid-row: 1 / span 3;
    justify-content: center;

    overflow: hidden; /*Se cortan las fotos si son muy anchas*/
}

.filtro select{
    padding: 15px;
    font-family: 'Morrison', sans-serif;
    font-size: 16px;
}

.Salida {
    display: flex;
    gap: 10px;
    box-shadow: -5px 10px 10px 0 lightgray;
    border: solid 2px grey;
    border-radius: 10px;

    margin-bottom: 20px;
}

.imagenSalida{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 150px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
}

.imagenSalida img{
    height: 100px;
}
.Actividad {
    display: flex;
    gap: 10px;
    box-shadow: -5px 10px 10px 0 lightgray;
    border: solid 2px grey;
    border-radius: 10px;

    margin-bottom: 20px;
}

.imagenActividad{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 150px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
}

.imagenActividad img{
    height: 100px;
}

.Paquete {
    display: flex;
    gap: 10px;
    box-shadow: -5px 10px 10px 0 lightgray;
    border: solid 2px grey;
    border-radius: 10px;

    margin-bottom: 20px;
}

.imagenPaquete{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 150px;
    overflow: hidden;
    margin: 10px;
    padding: 20px;
}

.imagenPaquete img{
    height: 100px;
}

.imagenSalidaDegusta{
    display: flex;
    justify-content: center;    
    overflow: hidden;    
    padding: 20px;
}