.filtros{
   
    display: grid;
    height: 650px;
    grid-template-columns: auto;   
    padding: 50px;
}

.content{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Consultas{
    width: 1200px;
}

.conjuntoConsulta1{
   
    display: grid;
    height: 250px;
    grid-template-columns: auto auto;   
    padding: 50px;
}

.conjuntoConsulta2{
   
    display: grid;
    height: 250px;
    grid-template-columns: auto auto;   
    padding: 50px;
}

.descripcion1{
    width: 600px;
}

.descripcion2{
    width: 600px;
}

.filtro select{
    padding: 15px;
}