.container {  display: grid;
  grid-template-columns: 0.5fr 1.7fr 0.8fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". Salida salidas-y-paq";
}

.Salida {  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  grid-template-rows: 0.3fr 0.9fr 2.3fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". ."
    "imagenSalidaC nombreSal"
    "infoSal infoSal"
    ". .";
  grid-area: Salida;
}

.imagenSalidaC { grid-area: imagenSalidaC; 
  height: 200px; 
margin-bottom: 22px;}

.nombreSal { grid-area: nombreSal;
  text-align: center;
  place-self: center;
 }
.nombreSal h1{
  font-size: 60px;
}

.infoSal { grid-area: infoAct; 
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding: 20px;}

.salidas-y-paq {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 1.8fr 0.4fr 1.8fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "h2Salidas"
    "Salidas"
    "h2Paq"
    "Paquetes"
    ".";
  grid-area: salidas-y-paq;
}

.Salidas {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 0.6fr 1.2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . .";
  grid-area: Salidas;
  margin-left: 50px;
}

.Paquetes {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 0.6fr 1.2fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . .";
  grid-area: Paquetes;
  margin-left: 30px;
  text-align: center;
}

.h2Salidas { grid-area: h2Salidas; }

.h2Paq { grid-area: h2Paq; }


img {
  /* max-width: 100%; */
  width: auto;
   max-height: 100%;
   object-fit: contain;
  }

  h2 {
   text-align: center;
    }


    /* prueba flex*/
    .flex-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: normal;
      align-items: normal;
      align-content: normal;
    }
    
    .flex-items:nth-child(1) {
      display: block;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      order: 0;
    }
    
    .flex-items:nth-child(2) {
      display: block;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      order: 0;
    }

    .imagen{
      height: 100px;
      float: left;
      padding: 1px;
      margin-right: 3px;
    }

    .urlsalidaypaq{
      color: #6558F5;
  }

  .urlpaquete{
    color:#6558F5;
    font-size: 20px;

  }


  .boton{
    min-width: 45%;
      
      background: #6558F5;
      border: none;
      padding: 12px;
      color: white;
      margin-bottom: 5px;
      font-size: 16px;
      font-family: 'Morrison', sans-serif;
     
      text-align: center ;
      border-radius: 4px;
  }


button:hover{
  background: #5046c0;
  cursor:pointer;

}


